<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Doggies' Bowl</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="sideNav">
      <ul>
        <li><a href="/#recipeCont">Recipes</a></li>
        <li><a href="/">Recommends</a></li>
        <!-- <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li> -->
      </ul>
    </div>

    <header>
      <div class="homeTitle">
        <div class="headerTitle">
          <a href="/">Doggies' Bowl</a>
        </div>
      </div>
    </header>

    <div class="bodyCont">
      {{ content }}
    </div>
  </body>
  <script src="/script.js"></script>
</html>

