---
layout: base.html
---

<link rel="stylesheet" href="/style.css" />

<div class="box1">
  <div class="box2">
    <img src="{{ photo }}" />
    {{ preTime }}

    {% for ingredients in ingredients %}
        <div class="ingDiv" data-ing="{{ forloop.index0 }}">
            {{ ingredients }}
        </div>
    {% endfor %}

    {{ content }}
  </div>
</div>

<!-- title: Fried Shrimp
photo: https://i.ibb.co/mCb38mgb/IMG-2588.jpg
index: 2
time: 30-60
preTime: 15
layout: recipe.html
ingredients:
  shrimp
  salt
  pepper
when:
  lunch
  dinner -->
