---
layout: base.html
---

<link rel="stylesheet" href="/style.css" />

<div class="recipeTopDiv">
  <div class="recipeTitleBox">
    {{title}}
  </div>
  <div class="recipreTotalBox">
    <div class="recipeInfoBox">
      <div class="recipeTime">{{time}} mins</div>
      <div class="recipePretime">{{preTime}} mins</div>
      <div class="recipeWhen">{{when}}</div>
      <div class="recipeStyle">{{style}}</div>
      {% for ingredients in ingredients %}
      <div class="recipeIngri" data-ing="{{ forloop.index0 }}">
        {{ ingredients }}
      </div>
      {% endfor %}
    </div>
    <div class="recipreImage">
      <img src="{{ photo }}" />
    </div>
  </div>
</div>

<div class="recipeBody">
  {{content}}
</div>